:root {
  --font-q: 'Quicksand', sans-serif;
  --font-p: 'Press Start 2P', cursive;

  --color-dark-blue: #1B2349;
  --color-blue-100: #161084FF;
  --color-blue-64: #161084A3;
  --color-blue-24: #1610843D;
  --color-blue-12: #1610841F;

  --color-gray-100: #333333FF;
  --color-gray-80: #333333CC;

  --color-white: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Source Code Pro', monospace;

  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.subtitle {
  font-size: 2.4rem;
  color: var(--color-gray-100);
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
}

.subtile-white {
  color: var(--color-white);
}
.subtile-games {
  font-family: var(--font-p);
}

.subtitle::after,
.subtile-white::after {
  content: '';
  width: 3rem;
  height: 4px;
  border-radius: 4px;
  display: block;
}
.subtitle::after{
  background-color: var(--color-gray-100);
}
.subtile-white::after{
  background-color: var(--color-white);
}

/* MEDIA QUERIES: */
@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 4rem;
  }
}
@media screen and (min-width: 960px) {
  .subtitle {
    margin-top: 4rem;
  }
  .subtile-white {
    color: var(--color-gray-100);
  }
  .subtile-white::after{
    background-color: var(--color-gray-100);
  }
}
