.home_container {
  background-image: url(../img/home-bg.svg);
  background-size:contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.home_hello {
  height: 40%;
  display: flex;
  flex-direction: column;
  padding: 3.5rem 1rem 1rem 1rem;
}

.home_hello_intro {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-gray-80);
  
  padding-bottom: 1.5rem;
}

.home_hello_intro::after {
  content: '|';
  animation: twinkle 1s infinite ease-in;
}

.home_hello-darker {
  color: var(--color-gray-100);
}

.home_hello_skills {
  font-size: 1.2rem;
  color: var(--color-blue-64);
}

.home_bg {
  height: 60%;
  display: flex;
  align-items: baseline;
  position: relative;
  z-index: -1;
}

.home_bg::after {
  content: '';
  height: 5rem;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0px;

  background-color: var(--color-blue-12);
}

.home_bg-secondary {
  display: none;
}

.home_bg-primary {
  width: 90vw; height: 25rem;
  margin: 0 auto;

  background-image: url(../img/girl.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
}

/* MEDIA QUERIES: */
@media screen and (min-width: 375px) {
  .home_hello_intro {
    padding-top: 3rem;
    font-size: 2rem;
  }

  .home_hello_skills {
    font-size: 1.6rem;
  }

  .home_bg {
    align-items: flex-end;
  }
}

@media screen and (min-width: 736px) {
  .home_container {
    width: 100%;
    height: 100vh;
  }

  .home_hello {
    width: 90%;
    margin: 0 auto;
    padding-top: 8rem;
  }
  .home_hello_intro {
    font-size: 3.2rem;
  }
  .home_hello_skills {
    font-size: 1.6rem;
  }

  .home_bg {
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
  }

  .home_bg-secondary {
    display: block;
    height: 30%;
    width: 50%;
    background-image: url(../img/plant.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: contain;
    background-position-x: 8rem;
  }

  .home_bg-primary {
    width: 50%;
    background-image: url(../img/girl.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  } 
}


@media screen and (min-width: 1024px){
  .home_hello {
    padding-top: 16rem;
    padding-left: 8rem;
  }
  .home_hello_intro {
    font-size: 4rem;
  }
  .home_hello_skills {
    font-size: 1.8rem;
  }
}


/* ANIMATIONS: */

@keyframes twinkle {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}